#landing-heading--animation div > div {
	display: inline-block;
	animation: bounce_text 0.5s ease-in;
}

@keyframes bounce_text {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}
